MessageWidget {
    height: auto;
    padding: 0 1 0 2;
    margin: 0;
    overflow: hidden hidden;
}
MessageWidget.new-pass {
    margin-top: 1;
}
MessageWidget .content {
    width: 1fr;
    height: auto;
}
MessageWidget .weight {
    width: auto;
    text-align: right;
    color: $text-muted;
    height: 1;
}
MessageWidget.application {
    text-style: italic;
}
MessageWidget.system {
    text-style: italic;
}
MessageWidget.context {
    text-style: italic;
}
MessageWidget Static {
    padding: 0;
}
MessageWidget Markdown {
    padding: 0;
}
MessageWidget Markdown > MarkdownParagraph {
    margin: 0;
}
MessageWidget.selected {
    background: $surface-lighten-1;
}
MessageList {
    scrollbar-size: 1 1;
}
